<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.codingcomrades.it.buscareplus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/busc"
        android:roundIcon="@mipmap/busc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buscareplus">
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login Page"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:exported="true"
            android:label="Help"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Buscareplus.NoActionBar"></activity>
    </application>

</manifest>