<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.codingcomrades.it.buscareplus" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/busc"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/busc_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Buscareplus" >
        <activity
            android:name=".MyAccount"
            android:label="@string/my_account"
            android:exported="true"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/login_label"
           />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReviewActivity"
            android:exported="true"
            android:label="@string/review"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutusActivity"
            android:exported="true"
            android:label="@string/aboutus"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HelpActivity"
            android:exported="true"
            android:label="@string/help"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Buscareplus.NoActionBar"
            android:configChanges="uiMode" />
    </application>

</manifest>